- provide(:title, t('.title'))

- if @notes.blank?
  %h2.mt-20.mb-10.text-3xl.font-bold.text-gray-500.dark:text-white.text-center
    = t('.heading.h2')
  .text-center.mt-10.mb-10
    = link_to t('.btn.new_import'), new_import_path,                                        |
      class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' |

.mt-10.max-w-md.mx-auto.md:max-w-4xl.text-center
  = pagination(@pagy)
= render partial: 'note', collection: @notes, cached: true
.mt-10.max-w-md.mx-auto.md:max-w-4xl.text-center
  = pagination(@pagy)

= render 'notes/modal/add_tags_modal'
