%footer.bg-white
  %h2#footerHeading.sr-only Footer
  .max-w-7xl.mx-auto.py-12.px-4.sm:px-6.lg:py-16.lg:px-8
    .xl:grid.xl:grid-cols-3.xl:gap-8
      .space-y-8.xl:col-span-1
        = image_tag 'logo.svg', class: 'h-10', alt: "LibreRead Logo"
        %p.text-gray-500.text-base
          The easy way to export your Kindle
          notes and highlights to the integrations you love.
        .flex.space-x-6
      .mt-12.grid.grid-cols-2.gap-8.xl:mt-0.xl:col-span-2
        .md:grid.md:grid-cols-2.md:gap-8
          %div
            %h3.text-sm.font-semibold.text-gray-400.tracking-wider.uppercase Kindle Links
            %ul.mt-4.space-y-4
              %li
                = link_to 'Amazon Highlights Page', 'https://read.amazon.com/kp/notebook/', class: 'text-base text-gray-500 hover:text-gray-900', target: '_blank'
              %li
                = link_to 'Amazon Online Reader', 'https://read.amazon.com/', class: 'text-base text-gray-500 hover:text-gray-900', target: '_blank'
              %li
                = link_to 'Amazon Kindle Settings', 'https://www.amazon.com/gp/digital/fiona/manage#All', class: 'text-base text-gray-500 hover:text-gray-900', target: '_blank'
              %li
                = link_to 'Amazon Kindle Apps', 'https://www.amazon.com/b?ie=UTF8&node=16571048011', class: 'text-base text-gray-500 hover:text-gray-900', target: '_blank'
          .mt-12.md:mt-0
            %h3.text-sm.font-semibold.text-gray-400.tracking-wider.uppercase
              Support
            %ul.mt-4.space-y-4
              %li
                = link_to 'Documentation', '#', class: 'text-base text-gray-500 hover:text-gray-900'
              %li
                = link_to 'FAQs', '#', class: 'text-base text-gray-500 hover:text-gray-900'
        .md:grid.md:grid-cols-2.md:gap-8
          %div
            %h3.text-sm.font-semibold.text-gray-400.tracking-wider.uppercase
              Company
            %ul.mt-4.space-y-4
              %li
                = link_to 'Blog', '#', class: 'text-base text-gray-500 hover:text-gray-900'
          .mt-12.md:mt-0
            %h3.text-sm.font-semibold.text-gray-400.tracking-wider.uppercase
              Legal
            %ul.mt-4.space-y-4
              %li
                = link_to 'Cookie Policy', '#', class: 'text-base text-gray-500 hover:text-gray-900'
              %li
                = link_to 'Privacy', '#', class: 'text-base text-gray-500 hover:text-gray-900'
              %li
                = link_to 'Terms', '#', class: 'text-base text-gray-500 hover:text-gray-900'
    .mt-12.border-t.border-gray-200.pt-8
      %p.text-base.text-gray-400.xl:text-center
        © #{Time.now.year} LibreRead. All rights reserved.
