= paginator.render do
  %nav.pagination{"aria-label" => "pager", :role => "navigation"}
    %ul.inline-flex.-space-x-px
      %li
        = first_page_tag unless current_page.first?
      %li
        = prev_page_tag unless current_page.first?
      - each_page do |page|
        - if page.display_tag?
          %li
            = page_tag page
      - unless current_page.out_of_range?
        %li
          = next_page_tag unless current_page.last?
        %li
          = last_page_tag unless current_page.last?
