= provide(:title, t('.title'))
%section
  %h1.mt-10.mb-10.text-center.text-4xl.font-extrabold.tracking-tight.leading-none.text-gray-900.md:text-5xl.lg:text-6xl.dark:text-white
    = t('admin.users.edit.heading.h1')
  .mt-10.mb-10.max-w-md.mx-auto.md:max-w-4xl.flex.justify-center
    .w-full.md:mt-0.sm:max-w-md.xl:p-0
      = render 'shared/errors', object: @user
      = form_with model: @user, url: admin_user_path do |f|
        .mb-6
          = f.label :email, t('.form.label.email'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          = f.email_field :email, placeholder: "name@example.com", class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
        .mb-6
          = f.label :name, t('.form.label.name'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          = f.text_field :name, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
        .mb-6
          = f.label :role, t('.form.label.role'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          = f.select :role, user_roles, {}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        .mb-6
          = f.label :status, t('.form.label.status'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          = f.select :status, user_statuses, {}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        .mb-6
          = f.label :admin_password, t('.form.label.admin_password'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          = f.password_field :admin_password, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
        .mb-6
          = f.label :password, t('.form.label.password'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          = f.password_field :password, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
        .mb-6
          = f.label :password_confirmation, t('.form.label.password_confirmation'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          = f.password_field :password_confirmation, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
        .flex.justify-center
          = f.submit t('.form.btn.save'), class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'
