!!!
%html{lang: I18n.locale }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= full_title(yield(:title))
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: 'all'
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    = render 'shared/header'
    = render 'shared/messages'
    %main.relative.min-h-full.pt-15
      = yield
    = render 'shared/footer'
